<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">
	<th:block layout:fragment="title">
		<title>this is a list page</title>
	</th:block>

	<th:block layout:fragment="search">
		<form action="#" id="searchform-header" class="searchform js__toggle active pull-right">
			<input type="search" placeholder="Search..." class="input-search">
			<button class="mdi mdi-magnify button-search" type="submit">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
		</form>
	</th:block>

	<th:block layout:fragment="content">
		<div class="table-responsive clearfix">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>등록일</th>
						<th>조회 수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
						<td scope="row" th:text="${row.noticeYn == T(com.dy.project.common.Constant.YesNo).Y ? '공지' : row.idx}"></td>
						<td class="text-left">
							<a th:href="@{/board/view.do( idx=${row.idx} )}" th:text="${row.title}"></a>
						</td>
						<td th:text="${row.writer}"></td>
						<td th:text="${#calendars.format(row.insertTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:text="${row.viewCnt}"></td>
					</tr>
					<tr th:unless="${not #lists.isEmpty( boardList )}">
						<td colspan="5">조회된 결과가 없습니다.</td>
					</tr>
				</tbody>
			</table>

			<div class="btn_wrap text-right">
				<a th:href="@{/board/write.do}" class="btn btn-primary waves-effect waves-light">Write</a>
			</div>

			<th:block layout:fragment="paging">
				<nav th:if="${not #lists.isEmpty( boardList ) and params != null}" th:object="${params.paginationInfo}" aria-label="Page navigation" class="text-center">
					<ul class="pagination">
						<li th:if="*{previousPage == true}"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
						<!--/* step은 numbers.sequence 메소드의 세 번째 인자에 지정할 수 있음 */-->
						<!--/* [[ *{makeQueryString(3)} ]] <= 이러한 방법으로 자바의 메소드를 호출할 수 있음 */-->
						<li th:each="seq : *{#numbers.sequence( firstPage, lastPage )}"><a href="javascript:void(0)" th:text="${seq}" th:onclick="moveThePage([[ ${seq} ]])"></a></li>
						<li th:if="*{nextPage == true}"><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a></li>
					</ul>
				</nav>
			</th:block>
		</div>
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/

			function moveThePage(currentPageNo) {
				$.ajax({
					url : /*[[ @{/boards} ]]*/,
					type : "get",
					headers : {
						"Content-Type": "application/json",
						"X-HTTP-Method-Override": "get"
					},
					dataType : "json",
					data : {
						"currentPageNo" : currentPageNo,
						"recordCountPerPage" : /*[[ ${params.paginationInfo.criteria.recordCountPerPage} ]]*/,
						"pageSize" : /*[[ ${params.paginationInfo.criteria.pageSize} ]]*/,
					},
					success : function(response) {
						if ( isEmpty(response.boardList) == false ) {
							var html = "";

							$(response.boardList).each(function(idx, obj) {
								console.log(obj.title);
							});
						}
					},
					error : function(request, status, error) {
						alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				// end of ajax
			}
			// end of function


			/*]]>*/
		</script>
	</th:block>
</html>