<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">
	<th:block layout:fragment="title">
		<title>this is a view page</title>
	</th:block>

	<th:block layout:fragment="content">
		<div class="card-content">
			<form class="form-horizontal form-view">
				<div class="form-group">
					<label for="inp-type-1" class="col-sm-2 control-label">제목</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="${board.title}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-2" class="col-sm-2 control-label">이름</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="${board.writer}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">내용</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="${board.content}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">등록일</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="${#calendars.format(board.insertTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">조회 수</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="${board.viewCnt}"></p>
					</div>
				</div>

				<!-- <div class="form-group">
					<label for="inp-type-4" class="col-sm-2 control-label">File</label>
					<div class="col-sm-10">
						<div class="form-control file_list">
							<a href="#"><i class="fa fa-file-o" aria-hidden="true"></i> file1.jpg</a>
							<a href="#"><i class="fa fa-file-o" aria-hidden="true"></i> file2.jpg</a>
							<a href="#"><i class="fa fa-file-o" aria-hidden="true"></i> file3.jpg</a>
						</div>
					</div>
				</div> -->
			</form>

			<div class="btn_wrap text-center">
				<a th:href="@{/board/list.do}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
				<a th:href="@{/board/write.do( idx=${board.idx} )}" class="btn btn-primary waves-effect waves-light">수정하기</a>
				<button type="button" class="btn btn-danger waves-effect waves-light" th:onclick="deleteBoard([[ ${board.idx} ]])">삭제하기</button>
			</div>
		</div>
		<!-- /.card-content -->
	</th:block>

	<th:block layout:fragment="add-content">
		<div class="box-content">
			<div class="card-content">
				<div class="clearfix">
					<h4 class="box-title pull-left">Comment</h4>
					<!-- /.box-title -->
				</div>

				<form name="commentForm" class="form-horizontal form-view" th:action="@{/comments}" method="post" onsubmit="return validationOfForm(this)">
					<input type="hidden" name="boardIdx" th:value="${board.idx}" />
					<input type="hidden" name="writer" value="테스터" />

					<div class="input-group margin-bottom-20">
						<input type="text" name="content" class="form-control" placeholder="댓글을 입력해 주세요.">
						<div class="input-group-btn">
							<button type="submit" class="btn waves-effect waves-light"><i class="fa fa-commenting" aria-hidden="true"></i></button>
						</div>
						<!-- /.input-group-btn -->
					</div>
					<ul class="notice-list" th:if="${not #lists.isEmpty( commentList )}">
						<li th:each="row, status : ${commentList}">
							<!--/* <span class="name" th:text="${status.count + '.' + row.writer}"></span> */-->
							<span class="name" th:text="${row.writer}"></span>
							<span class="desc" th:text="${row.content}"></span>
							<span class="time" th:text="${#calendars.format( row.insertTime, 'yyyy-MM-dd HH:mm:ss' )}"></span>
							<button type="button" class="btn btn-xs btn-circle"><i class="fa fa-pencil" aria-hidden="true"></i></button>
						</li>
					</ul>
				</form>
			</div>
			<!-- /.card-content -->
		</div>
		<!-- /.box-content -->
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/

			function deleteBoard(idx) {

				if ( isEmpty(idx) ) {
					alert("올바르지 않은 접근입니다.");
					return false;
				}

				if (confirm("선택한 글을 삭제하시겠어요?")) {
					var uri = /*[[ @{/boards/} ]]*/;
					$.ajax({
						url : uri + idx,
						type : "patch",
						headers: {
							"Content-Type": "application/json",
							"X-HTTP-Method-Override": "patch"
						 },
						dataType : "json",
						async : false,
						success : function(response) {
							if ( response.result === true ) {
								location.href = /*[[ @{/board/list.do} ]]*/;
							}
						},
						error : function(request, status, error) {
							alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
						}
					});
					// end of ajax

					return false;
				}
			}
			// end of function

			function validationOfForm(obj) {
				/*[- 서버로 전달할 form 데이터들의 묶음 -]*/
				var formData = $(obj).serializeArray();
				/*[- 서버로 전달할 form 데이터들을 오브젝트 형태로 담을 변수 -]*/
				var params = new Object();

				/*[- form에 있는 데이터 개수만큼 params 변수에 key, value 형태로 저장 -]*/
				$(formData).each(function(idx, obj) {
					if ( isEmpty(obj) == false ) {
						params[obj.name] = obj.value;
					}
				});

				$.ajax({
					url : obj.action,
					type : "post",
					headers: {
						"Content-Type" : "application/json",
						"X-HTTP-Method-Override" : "post"
					},
					dataType : "json",
					data : JSON.stringify(params),
					async : false,
					success : function(response) {
						if ( response.result === false ) {
							alert(response.message);
							return false;
						}

						printCommentList(params.boardIdx);
					},
					error : function(request, status, error) {
						alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				// end of ajax

				return false;
			}
			// end of function

			function printCommentList(boardIdx) {

				if ( isEmpty(boardIdx) || boardIdx < 1 ) {
					alert("올바르지 않은 접근입니다.");
					return false;
				}

				var uri = /*[[ @{/comments/} ]]*/;
				$.ajax({
					url : uri + boardIdx,
					type : "get",
					headers: {
						"Content-Type" : "application/json",
						"X-HTTP-Method-Override" : "patch"
					},
					dataType : "json",
					async : false,
					success : function(response) {
						if ( isEmpty(response.commentList) == false ) {
							if ( isEmpty(document.getElementsByClassName('notice-list')) ) {
								location.reload();
							}

							var commentList = JSON.parse(response.commentList);
							var html = "";

							$(commentList).each(function(idx, obj) {
								html += '<ul class="notice-list">';
									html += '<li>';
										html += '<span class="name">'+ obj.writer +'</span>';
										html += '<span class="desc">'+ obj.content +'</span>';
										html += '<span class="time">'+ obj.insertTime +'</span>';
										html += '<button type="button" class="btn btn-xs btn-circle"><i class="fa fa-pencil" aria-hidden="true"></i></button>';
									html += '</li>';
								html += '</ul>';
							});
							$(".notice-list").html(html);
							document.commentForm.content.value = "";
						}
					},
					error : function(request, status, error) {
						alert("오류가 발생했습니다. 새로고침 후에 다시 시도해 주세요.");
					}
				});
				// end of ajax

				return false;
			}
			// end of function

			/*]]>*/
		</script>
</th:block>
</html>